h2 {
  font-family: "inter-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  text-transform: uppercase;
}

input::placeholder {
  color: #CCCCCC;
  font-family: "inter-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  padding: 10px;
}

#cafe-search {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 30px;
  width: 200px;
  padding: 3px;
  border-width: 0px;
}

#status-filter {
  border-radius: 50%;
  border-width: 0px;
  height: 36px;
  width: 36px;
}

.scrollable-list {
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
  font-family: "inter-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
}

scrollable-list label {
  display: block;
  overflow: hidden;
  margin-bottom: 0.5em;
  word-break: break-word;
}

.scrollable-list br {
  margin-bottom: 5px;
}


#cafe-list-container .cafe-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

/* let the label text wrap under itself, not under the checkbox */
#cafe-list-container .cafe-item label {
  flex: 1;
  /* take up the rest of the line */
  word-break: break-word;
  /* wrap long names if needed */
}

#cafe-list-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #888;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
}

#cafe-list-container input[type="checkbox"]:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}

#cafe-list-container input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}