body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input {
    border-radius: 50px;
    border-width: 1px;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input::placeholder {
    color: black;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: 0.8px solid rgb(0, 0, 0);
    background-color: whitesmoke;
}

input:hover {
    background-color: whitesmoke;
}

button {
    border-radius: 50px;
    border-width: 1px;
    width: 72px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button:focus::placeholder {
    color: transparent;
}

button:focus {
    outline: 0.8px solid rgb(0, 0, 0);
    background-color: whitesmoke;
}

button:hover {
    background-color: whitesmoke;
}
.button-group {
    display: flex;       /* lay children out in a row */
    gap: 6px;           /* space between buttons */
  }