ul {
    text-transform: uppercase;
}

.nav-toggle {
    position: absolute;
    left: -9999px;
}

.nav-toggle-label {
    position: fixed;
    top: 1rem;
    right: 0rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: none;
}

.nav-toggle-label span {
    width: 100%;
    height: 36px;
    margin: 0;
    background: #000000;
    border-radius: 50% 0% 0% 50%;
    transition: transform 0.3s ease;
}


nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding-top: 4rem;

    z-index: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li+li {
    margin-top: 1rem;
}

nav a {
    display: block;
    padding: 0.75rem 1.25rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    background: #000000;
}

/* Toggle behavior */
.nav-toggle:checked+.nav-toggle-label {
    right: calc(1rem + 250px);
}

.nav-toggle:checked~nav {
    transform: translateX(0);
}

.nav-toggle:checked+.nav-toggle-label {
    right: calc(300px);
}