body {
    background-color: whitesmoke;
    /* margin: 4em; */
    margin-left: 2em;
    margin-right: 2em;
}

#instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-transform: lowercase;
}


#morph-container-aesthetic {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}


.letter-wrapper {
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
}


.letter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s ease, filter 1s ease;
    opacity: 0;
    filter: blur(0.03em);
    white-space: pre;
}


.letter.visible {
    opacity: 1;
    filter: blur(0);
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    position: fixed;
    bottom: 11em;
    align-items: center;
}

.flex-container-two {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    top: 16em;
    gap: 40px;
}

.flex-container-three {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    top: 20em;
    gap: 40px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: rgb(255, 0, 0);
}